<html ng-app="Proverbs">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/proverbs.css">
</head>
<body>
  <span class='title'>Proverbs</span>
  <div class='card'  ng-controller="ProverbsController as Proverbs">
    <div class='chapter'>Chapter {{Proverbs.chapter}}</div>
    <div class='version'>{{Proverbs.version}}</div>
    <div style='clear:both;'></div>
    <input type='range' min='1' max='31' class='datepicker' autofocus ng-model='Proverbs.chapter' ng-change='Proverbs.load()' />
    <p class='text' ng-repeat="verse in Proverbs.verses">{{verse}}</p>
  </div>

  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
