body {
    padding: 20px 0 30px;
    font: 14px/1.5 Arial, sans-serif;
    color: #333;
    background: #33cc00;
}

.title {
    font-size: 3em;
    position: relative;
    display: block;
    margin-bottom: 5px;
    margin-left: 50px;
    color: #279602;
    font-weight: 800;
    height: 10px;
    z-index: 1;
}

.card {
    max-width: 600px;
    right: 10px;
    left: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
    margin: 2em 10px 4em;
    font-size: 16px;
    background-color:#eef7cd;
    -webkit-box-shadow: 4px 4px 8px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
    box-shadow: 4px 8px 8px rgba(0,0,0,0.3);
  }

.card .chapter {
    font-size: x-large;
    float: left;
}

.card .version {
    font-size: large;
    padding-right: 20px;
    float: right;
}

.card .datepicker {
    width: 100%
}

.card input.datepicker:focus {
  outline:none;
}

.card .heading {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card .text {
    color:darkslategray;
    font-weight: normal;
    text-indent: 40px;
    white-space: pre-line;
}

.card .references {
    font-style: italic;
    color: darkgrey;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card .missing {
    height: 200px;
    padding-top: 140px;
    font-size: large;
    text-align: center;
}

.card p.text {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
